{% extends "base.html" %}

{% block css %}{% endblock %}

{% block main %}
<div class="p-5 mb-4 bg-light rounded-3 border">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Welcome!</h1>
    <p>Find your perfect property for rent or sale.</p>
    <div class="d-flex gap-2 flex-wrap">
      <a href="{{ url_for('properties') }}" class="btn btn-lg text-white flex-fill" style="background-color: #1abc9c;">View Properties</a>
      <a href="{{ url_for('create_property') }}" class="btn btn-lg btn-outline-secondary flex-fill">Add Property</a>
    </div>
  </div>

</div>
{% endblock %}

{% block js %}{% endblock %}
