{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <img src="{{ url_for('static', filename='uploads/' ~ property.photo) }}" class="card-img-top" alt="{{ property.title }}">
                <div class="card-body">
                    <h3 class="card-title">{{ property.title }}</h3>
                    <p class="card-text">{{ property.description }}</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Location: {{ property.location }}</li>
                        <li class="list-group-item">Bedrooms: {{ property.bedrooms }}</li>
                        <li class="list-group-item">Bathrooms: {{ property.bathrooms }}</li>
                        <li class="list-group-item">Type: {{ property.property_type }}</li>
                        <li class="list-group-item">Price: ${{ property.price }}</li>
                    </ul>
                    <a href="#" class="btn btn-success mt-3">Email Realtor</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
